<h2>Média dos Alunos</h2>
<ul class="list-group mt-4">
  <li class="list-group-item"><b>Nome:</b> João Pedro Carvalho Duarte</li>
  <li class="list-group-item"><b>Quantidade de disciplinas cursadas:</b> 31</li>
  <li class="list-group-item"><b class="mr-1">Média geral:</b> 7,92</li>
</ul>
<ul class="list-group mt-4">
  <li class="list-group-item"><b>Nome:</b> Ricardo de Oliveira Júnior </li>
  <li class="list-group-item"><b>Quantidade de disciplinas cursadas:</b> 29 </li>
  <li class="list-group-item"><b class="mr-1">Média geral:</b> 7,63 </li>
</ul>